* {
    margin: 0;
    /* padding: 0; */
    /* border: 1px solid red; */
    box-sizing: border-box;
}

ul {
    padding: 0;
}

ul li {
    list-style: none;
}

.container {
    /* min-width: 1360PX; */
    /* max-width: 1920PX; */
    /* min-height: 752px; */
    min-width: 100vw;
    min-height: 100vh;
    margin: 0 auto;
    background: url(./asset/images/page-bg.jpg) no-repeat;
    background-size: cover;
    overflow: hidden;
}

.center {
    /* 此处的尺寸仅供参照，可自行修改 */
    width: 600px;
    height: 600px;
    margin: 0 auto;
    margin-top: calc((100vh - 600px)/2);
    position: relative;
}