/* --------------------------------1 全局样式-------------------------------- */


/* 1.1 布局 */

main,
footer {
    margin-top: 30px;
}

.container {
    width: 1200px;
    margin: 0 auto;
}


/* 1.2 字体 */

body {
    font-size: 14px;
    color: #262626;
}

a {
    color: #262626;
}