body {
    background-image: url(../images/bg.jpg);
    background-size: 100%;
    position: relative; /* 父元素须先设置该属性，子元素才能相对定位 */
    overflow-x: hidden;
}
/* 鱼群运动轨迹 */
#fishes-1 {
    width: 165px;
    height: 111px;
    position: relative;
    left: 0;
    top: 0;
    z-index: 4; /* 深度（z轴）排序：4，3，1，7，5，2，6。勘误：z-index 值大的排在上面*/
    border: 1px solid red; /* 为了设计时展示大小，后面要删掉 */
    animation: swimming-route-1 20s linear infinite; /* 刚好60帧 */
}
#fishes-2 {
    width: 200px;
    height: 100px;
    position: relative;
    left: 0;
    top: 0;
    z-index: 3;
    border: 1px solid red; /* 为了设计时展示大小，后面要删掉 */
    animation: swimming-route-2 15s steps(900) infinite;
}
#fishes-3 {
    width: 100px;
    height: 100px;
    position: relative;
    left: 0;
    top: 0;
    z-index: 1;
    border: 1px solid red; /* 为了设计时展示大小，后面要删掉 */
    animation: swimming-route-3 15s steps(900) infinite;
}
#fishes-4 {
    width: 100px;
    height: 300px;
    position: relative;
    left: 0;
    top: 0;
    z-index: 7;
    border: 1px solid red; /* 为了设计时展示大小，后面要删掉 */
    animation: swimming-route-3 15s steps(900) infinite;
}
#fishes-5 {
    width: 100px;
    height: 100px;
    position: relative;
    left: 0;
    top: 0;
    z-index: 5;
    border: 1px solid red; /* 为了设计时展示大小，后面要删掉 */
    animation: swimming-route-5 15s steps(900) infinite;
}
#fishes-6 {
    width: 100px;
    height: 100px;
    position: relative;
    left: 0;
    top: 0;
    z-index: 2;
    border: 1px solid red; /* 为了设计时展示大小，后面要删掉 */
    animation: swimming-route-6 15s steps(900) infinite;
}
#fishes-7 {
    width: 100px;
    height: 100px;
    position: relative;
    left: 0;
    top: 0;
    z-index: 6;
    border: 1px solid red; /* 为了设计时展示大小，后面要删掉 */
    animation: swimming-route-7 15s steps(900) infinite;
}

/* 鱼群游泳动作 */
.fish-1 {
    width: 57px;
    height: 37px;
    background-image: url(../images/fish1.png);
    animation: swimming-action-1 0.8s steps(4) infinite;
}
.fish-2 {
    width: 78px;
    height: 51.2px;
    background-image: url(../images/fish2.png);
    animation: swimming-action-2 1.2s steps(4) infinite;
}
.fish-3 {
    width: 105px;
    height: 79px;
    background-image: url(../images/fish3.png);
    animation: swimming-action-3 2s steps(8) infinite;
}
.fish-4 {
    width: 105px;
    height: 151px;
    background-image: url(../images/fish4.png);
    animation: swimming-action-4 2s steps(6) infinite;
}
.fish-5 {
    width: 174px;
    height: 126px;
    background-image: url(../images/fish5.png);
    animation: swimming-action-5 2s steps(8) infinite;
}
.fish-6 {
    width: 166px;
    height: 183px;
    background-image: url(../images/fish6.png);
    animation: swimming-action-6 2s steps(8) infinite;
}
.fish-7 {
    width: 178px;
    height: 187px;
    background-image: url(../images/fish7.png);
    animation: swimming-action-7 3s steps(6) infinite;
}

/* 鱼群里鱼的布局 */
#fishes-1-1 {

}
#fishes-1-2 {

}
#fishes-1-3 {

}

/* 鱼群运动轨迹 */
@keyframes swimming-route-1 {
    /* 自己尝试的动画方案 */
    0% {
        transform: translateX(0) translateY(0) rotateZ(0); /* transform */
    }
    45% {
        transform: translateX(1300px) translateY(20px) rotateZ(10deg); /* 角度单位 deg */
    }
    50% {
        transform: translateX(1400px) translateY(250px) rotateZ(70deg);
    }
    55% {
        transform: translateX(1450px) translateY(400px) rotateZ(80deg);
    }
    60% {
        transform: translateX(1500px) translateY(650px) rotateZ(90deg); /* 90deg 是一个关键节点，后面一段动画不应该出现 x 轴位移 */
    }
    65% {
        transform: translateX(1500px) translateY(1000px) rotateZ(180deg);
    }
    100% {
        transform: translateX(-400px) translateY(300px) rotateZ(200deg);
    }

    /* 老师的标准动画方案（回避了掉头动画这一难点） */
    0% {}
    25% {}
    50% {}
    75% {}
    100% {}

}
@keyframes swimming-route-2 {
    from {
        left: 0;
    }
    to {
        left: 100%;
    }
}
@keyframes swimming-route-3 {
    from {
        left: 0;
    }
    to {
        left: 100%;
    }
}
@keyframes swimming-route-4 {
    from {
        left: 0;
    }
    to {
        left: 100%;
    }
}
@keyframes swimming-route-5 {
    from {
        left: 0;
    }
    to {
        left: 100%;
    }
}
@keyframes swimming-route-6 {
    from {
        left: 0;
    }
    to {
        left: 100%;
    }
}
@keyframes swimming-route-7 {
    from {
        left: 0;
    }
    to {
        left: 100%;
    }
}

/* 鱼的动作动画 */
@keyframes swimming-action-1 {
    from {
        background-position: 0 0;
        margin-left: 0;
    }
    to {
        background-position: 0 148px;
        margin-left: 0;
    }
}
@keyframes swimming-action-2 {
    from {
        background-position: 0 0;
        margin-left: 0;
    }
    to {
        background-position: 0 256px;
        margin-left: 0;
    }
}
@keyframes swimming-action-3 {
    from {
        background-position: 0 0;
        margin-left: 0;
    }
    to {
        background-position: 0 632px;
        margin-left: 0;
    }
}
@keyframes swimming-action-4 {
    from {
        background-position: 0 0;
        margin-left: 0;
    }
    to {
        background-position: 0 906px;
        margin-left: 0;
    }
}
@keyframes swimming-action-5 {
    from {
        background-position: 0 0;
        margin-left: 0;
    }
    to {
        background-position: 0 1008px;
        margin-left: 0;
    }
}
@keyframes swimming-action-6 {
    from {
        background-position: 0 0;
        margin-left: 0;
    }
    to {
        background-position: 0 1464px;
        margin-left: 0;
    }
}
@keyframes swimming-action-7 {
    from {
        background-position: 0 0;
        margin-left: 0;
    }
    to {
        background-position: 0 1122px;
        margin-left: 0;
    }
}

