/* 该 H5 动画在 1520*611 的页面下展示效果最佳（其他尺寸页面会有异常） */
body {
    background-image: url(../images/bg.jpg);
    background-size: 100%;
    position: relative; /* 父元素须先设置该属性，子元素才能相对定位 */
    overflow: hidden;
}
/* 鱼群运动轨迹 */
#fishes-1 {
    width: 165px;
    height: 111px;
    position: relative;
    left: 0;
    top: 0;
    z-index: 4; /* 深度（z轴）排序：4，3，1，7，5，2，6。勘误：z-index 值大的排在上面*/
    /* border: 1px solid red; */ /* 为了设计时展示大小，后面要删掉 */
    animation: swimming-route-1 30s linear infinite; /* 刚好60帧 */
}
#fishes-2 {
    width: 200px;
    height: 100px;
    position: relative;
    left: 0;
    top: 0;
    z-index: 3;
   /*  border: 1px solid red; */ /* 为了设计时展示大小，后面要删掉 */
    animation: swimming-route-2 20s steps(900) infinite;
}
#fishes-3 {
    width: 100px;
    height: 100px;
    position: relative;
    left: 0;
    top: 0;
    z-index: 1;
   /*  border: 1px solid red;  *//* 为了设计时展示大小，后面要删掉 */
    animation: swimming-route-3 35s steps(900) infinite;
}
#fishes-4 {
    width: 100px;
    height: 300px;
    position: relative;
    left: 0;
    top: 0;
    z-index: 7;
   /*  border: 1px solid red; */ /* 为了设计时展示大小，后面要删掉 */
    animation: swimming-route-4 25s steps(900) infinite;
}
#fishes-5 {
    width: 100px;
    height: 100px;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 5;
   /*  border: 1px solid red;  *//* 为了设计时展示大小，后面要删掉 */
    animation: swimming-route-5 20s steps(900) infinite;
}
#fishes-6 {
    width: 100px;
    height: 100px;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 2;
    /* border: 1px solid red; */ /* 为了设计时展示大小，后面要删掉 */
    animation: swimming-route-6 15s steps(900) infinite;
}
#fishes-7 {
    width: 100px;
    height: 100px;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 6;
    /* border: 1px solid red; */ /* 为了设计时展示大小，后面要删掉 */
    animation: swimming-route-7 40s steps(900) infinite;
}

/* 鱼群游泳动作 */
.fish-1 {
    width: 57px;
    height: 37px;
    position: relative;
    background-image: url(../images/fish1.png);
    animation: swimming-action-1 0.8s steps(4) infinite;
}
.fish-2 {
    width: 78px;
    height: 51.2px;
    position: relative;
    float: left;
    background-image: url(../images/fish2.png);
    animation: swimming-action-2 1.2s steps(4) infinite;
}
.fish-3 {
    width: 105px;
    height: 79px;
    background-image: url(../images/fish3.png);
    animation: swimming-action-3 2s steps(8) infinite;
    transform: scaleX(-1);
}
.fish-4 {
    width: 98px; /* 使用原宽度 105px 会有问题 */
    height: 151px;
    position: relative;
    background-image: url(../images/fish4.png);
    animation: swimming-action-4 2s steps(6) infinite;
    transform: scaleX(-1);
}
.fish-5 {
    width: 174px;
    height: 126px;
    background-image: url(../images/fish5.png);
    animation: swimming-action-5 2s steps(8) infinite;
}
.fish-6 {
    width: 166px;
    height: 183px;
    background-image: url(../images/fish6.png);
    animation: swimming-action-6 2s steps(8) infinite;
}
.fish-7 {
    width: 178px;
    height: 187px;
    background-image: url(../images/fish7.png);
    animation: swimming-action-7 3s steps(6) infinite;
}

/* 鱼群里鱼的布局 */
#fishes-1-1 {
    left: 100px;
}
#fishes-1-3 {
    left: 50px;
    top: -50px;
}
#fishes-1-4 {
    left: 80px;
    top: -70px;
}
#fishes-1-5 {
    left: -30px;
    top: -120px;
}
#fishes-1-6 {
    left: 150px;
    top: -160px;
}
#fishes-2-2 {
    bottom: -20px;
}
#fishes-2-3 {
    left: 130px;
}
#fishes-2-4 {
    left: 110px;
    bottom: 50px;
}
#finshes-4-2 {
    left: -90px;
    bottom: 50px;
}

/* 鱼群运动轨迹 */
@keyframes swimming-route-1 { /* 金色小鱼 */
    /* 自己尝试的动画方案 */
    0% {
        left: -200px; /* 初始位置建议设置在动画里，当然可以选择在静态属性里设置设置 */
        top: 50px;
        transform: translateX(0) translateY(0) rotateZ(-10deg); /* transform 2d平面图形变化属性*/
    }
    15% {
        transform: translateX(500px) translateY(0) rotateZ(5deg);
    }
    38% {
        transform: translateX(1150px) translateY(20px) rotateZ(5deg); /* 角度单位 deg */
    }
    48% {
        transform: translateX(1400px) translateY(250px) rotateZ(70deg);
    }
    52% {
        transform: translateX(1450px) translateY(400px) rotateZ(80deg);
    }
    60% {
        transform: translateX(1500px) translateY(650px) rotateZ(90deg); /* 90deg 是一个关键节点，后面一段动画不应该出现 x 轴位移 */
    }
    70% {
        transform: translateX(1250px) translateY(900px) rotateZ(180deg);
    }
    100% {
        transform: translateX(-400px) translateY(300px) rotateZ(200deg);
    }

}
@keyframes swimming-route-2 { /* 小丑鱼 */
    /* from {
        left: 0;
    }
    to {
        left: 100%;
    } */
    0% {
        left: -150px;
        top: 200px;
        transform: translateX(0) translateY(0) rotateZ(20deg);
    }
    /* 25% {
        transform: translateX(300px) translateY(-20px) rotateZ(-16deg);
    } */
    35% {
        transform: translateX(450px) translateY(400px) rotateZ(40deg);
    }
    46% {
        transform: translateX(650px) translateY(450px) rotateZ(0);
    }
    54% {
        transform: translateX(800px) translateY(320px) rotateZ(-30deg); 
    }
    78% { 
        transform: translateX(1100px) translateY(-50px) rotateZ(-40deg);
    }
    90% {
        transform: translateX(1400px) translateY(-120px) rotateZ(-20deg);
    }
    100% {
        transform: translateX(1600px) translateY(-250px) rotateZ(-20deg);
    }

}
@keyframes swimming-route-3 { /* 鹦鹉螺 */
    from {
        left: 1500px;
        top: 200px;
    }
    to {
        left: -150px;
        top: 1200px;
    }
}
@keyframes swimming-route-4 { /* 水母 */
    from {
        left: 1500px;
        top: 800px;
    }
    to {
        left: 350px;
        top: -700px;
    }
}
@keyframes swimming-route-5 { /* 灯笼鱼 */
    /* from {
        left: 0;
    }
    to {
        left: 100%;
    } */
    0% {
        left: 200px;
        top: 800px;
        transform: rotateZ(-25deg);
    }
    40% {
        left: 500px;
        top: 500px;
    }
    60% {
        left: 550px;
        top: 350px;
        transform: rotateZ(-80deg);
    }
    100% {
        left: 700px;
        top: -150px;
        transform: rotateZ(-60deg);
    }
}
@keyframes swimming-route-6 { /* 鳐 */
    from {
        left: 100px;
        top: -200px;
        transform: rotateZ(45deg);
    }
    to {
        left: 1100px;
        top: 800px;
        transform: rotateZ(45deg);
    }
}
@keyframes swimming-route-7 { /* 海龟 */
    /* from {
        left: 0;
    }
    to {
        left: 100%;
    } */
    0% {
        left: 800px;
        top: -200px;
        transform: rotateZ(90deg);
    }
    5% {
        left: 800px;
        top: -100;
        transform: rotateZ(90deg);
    }
    10% {
        left: 790px;
        top: 20px;
        transform: rotateZ(140deg);
    }
    45% {
        left: 200px;
        top: 400px;
        transform: rotateZ(160deg);
    }
    65% {
        left: 220px;
        top: 400px;
        transform: rotateZ(20deg);
    }
    80% {
        left: 58	0px;
        top: 500px;
        transform: rotateZ(20deg);
    }
    90% {
        left: 650px;
        top: 550px;
        transform: rotateZ(90deg);
    }
    100% {
        left: 650px;
        top: 760px;
        transform: rotateZ(90deg);
    }
}

/* 鱼的动作动画 */
@keyframes swimming-action-1 {
    from {
        background-position: 0 0;
        margin-left: 0;
    }
    to {
        background-position: 0 148px;
        margin-left: 0;
    }
}
@keyframes swimming-action-2 {
    from {
        background-position: 0 0;
        margin-left: 0;
    }
    to {
        background-position: 0 256px;
        margin-left: 0;
    }
}
@keyframes swimming-action-3 {
    from {
        background-position: 0 0;
        margin-left: 0;
    }
    to {
        background-position: 0 632px;
        margin-left: 0;
    }
}
@keyframes swimming-action-4 {
    from {
        background-position: 0 0;
        margin-left: 0;
    }
    to {
        background-position: 0 906px;
        margin-left: 0;
    }
}
@keyframes swimming-action-5 {
    from {
        background-position: 0 0;
        margin-left: 0;
    }
    to {
        background-position: 0 1008px;
        margin-left: 0;
    }
}
@keyframes swimming-action-6 {
    from {
        background-position: 0 0;
        margin-left: 0;
    }
    to {
        background-position: 0 1464px;
        margin-left: 0;
    }
}
@keyframes swimming-action-7 {
    from {
        background-position: 0 0;
        margin-left: 0;
    }
    to {
        background-position: 0 1122px;
        margin-left: 0;
    }
}

