* {
    margin: 0;
    padding: 0;
    /* border: 1px solid red; */
    box-sizing: border-box;
}

ul li,
ol li {
    list-style: none;
}

a {
    text-decoration: none;
    /* 去除下划线 */
}

img {
    width: 100%;
}

body {
    font-family: normal, Arial, "微软雅黑", "楷体", Helvetica, sans-serif;
}


/* 不展示 */

.dispaly-none {
    display: none;
}


/* 清除浮动 */

.clearfix::after {
    content: "";
    /* 设置内容为空 */
    height: 0;
    /* 高度为0 */
    line-height: 0;
    /* 行高为0 */
    display: block;
    /* 将文本转为块级元素 */
    visibility: hidden;
    /* 将元素隐藏 */
    clear: both;
    /* 清除浮动 */
}


/* 容器 */

.container {
    width: 800px;
    margin: 20px auto;
    padding: 50px;
}


/* 边框调整 */


/* 缺点:边框效果需根据需要更改,且增加过长的类名不利于阅读 HTML 代码 */

.add-border {
    border: 1px solid #9d9d9d !important;
}

.add-left-border {
    border-left: 1px solid #9d9d9d !important;
}

.add-right-border {
    border-right: 1px solid #9d9d9d !important;
}

.add-top-border {
    border-top: 1px solid #9d9d9d !important;
}

.add-bottom-border {
    border-bottom: 1px solid #9d9d9d !important;
}

.remove-border {
    border: none !important;
}

.remove-left-border {
    border-left: none !important;
}

.remove-right-border {
    border-right: none !important;
}

.remove-top-border {
    border-bottom: none !important;
}

.remove-bottom-border {
    border-bottom: none !important;
}