/* --------------------------------全局样式-------------------------------- */
/* # 容器 */
.container {
    width: 1200px; 
    margin: 0 auto;
}
/* # 字体 */
body {

}
/* # 章节 */
.section {

}

/* --------------------------------网页顶部样式-------------------------------- */


/* --------------------------------章节样式-------------------------------- */
/* # 顶部 */
/* ## 统一 */
.header {
     height: 50px;
}
/* ### 章节标题 */
.header >a::before { /* 尺寸及布局 */
    width: 100px;
    height: 30px;
    margin-left: 10px;
    content: "";
    display: block;
}

/* ## 单独 */
/* ### 章节标题 */
div.rank .header >a::before { /* 尺寸及背景 */
    width: 175px;
    background-image: url(../images/热销排行榜-title.png);
}
div.fresh .header >a::before {
    background-image: url(../images/新货上架-title.png);
}
div.hot .header >a::before {
    background-image: url(../images/热门商品-title.png);
}
div.recommend .header >a::before {
    background-image: url(../images/店长推荐-title.png);
}
div.storm .header >a::before {
    background-image: url(../images/爆款推荐-title.png);
}

/* # 主体 */
/* ## 统一 */
.content {

}

/* ### 字体 */
.section li a span { /* 商品介绍 */
    font-size: 14px;
    color: #2c2c2c;
}
ul.alter a{ /* t */
    font-size: 14px;
    color: #2c2c2c;
} 
li.goods-booth >a >span >span { /* 商品价格*/
    color: #fe5858;
}
ul.alter .goods-price-money { /* t */
    color: #fe5858;
}
span.goods-slogan {
    color: #848484;
}



/* ### 展厅布局 */
.section ul {

}
.section li { /* 浮动及边框 */
    /* li 边框方案可能没有 img 边框好,后续优化 */
    border-right: 1px solid #9d9d9d;
    border-bottom: 1px solid #9d9d9d;
    float: left;
    overflow: hidden; /* 解决图片遮住边框 */
}

/* #### 展位布局 */
li.goods-booth >a { /* a 标签转块级 */
    display: block;
}
a.goods-link { /* t */
    display: block;
}
li.goods-booth >a >img , li.goods-booth >a >span { /* 行内元素浮动 */
    width: 100%; /* 不设置会有问题 */
    float: left; /* 浮动后的元素会自动变成 block,若其父元素未设置高度,则父元素高度将变为0 */
}


/* ##### 商品名录 */
li.goods-booth >a >span{ /* 商品名录-尺寸 */
    height: 25px;
    padding: 0px 10px; 
    line-height: 25px;
}
li.goods-booth >a >span:nth-of-type(1) { /* 商品名录-顶部边框 */
    border-top: 1px solid #9d9d9d;
}

/* ## 单独 */
/* ### 热销排行榜 */
/* #### 展厅布局 */
ul.rank {

}
ul.rank >li { /* 展位默认尺寸 */
    width: 300px;
    height: 300px;
    border-top: 1px solid #9d9d9d;
}
ul.rank >li:first-child { /* 边框补全 */
    border-left: 1px solid #9d9d9d;
}

/* #### 展位布局 */
ul.rank >li >a >img {
    width: 300px;
    height: 210px;
}
ul.rank >li >a >span { /* 商品名录-字体 */
    width: 300px;
    padding: 15px 10px;
    text-align: center;
}
ul.rank >li >a >span:first-of-type { /* 商品名录-分类-字体 */
    font-size: 24px;
    color: #262626;
}
ul.rank >li >a >span:last-of-type { /* 商品名录-标语-字体 */
    color: #848484;
}

/* ###  新货上架*/
/* #### 展厅布局 */
ul.fresh {
    
}
ul.fresh >li { /* 展位默认尺寸 */
    border: none; 
    /* 因为没有边框,无需设置展位尺寸 */
}
ul.fresh >li:nth-of-type(1n+5) { /* 布局调整-浮动方案 */
    /* 更理想方案应该为相对定位,但代码量肯定会增加 */
    float: right;
}
ul.fresh >li:nth-of-type(1n+6) { 
    /* 剩余右浮动元素统一上移 */
    margin-top: -106px;
}
ul.fresh >li:last-child {
    /* 最后一个不该上移 */
    margin: 0;
}
ul.fresh >li:nth-of-type(5) {
    /* 解决图片尺寸不规整,导致右浮动偏移了1像素  */
    border-right: 1px solid rgba(0, 0, 0, 0);
}

/* #### 展位布局 */
ul.hot li {

}

/* ###  热门商品*/
/* #### 展厅布局 */
ul.hot {

}
ul.hot >li { /* 展位默认尺寸 */
    width: 305px;
    height: 300px;
}
ul.hot >li:first-child { /* 尺寸调整-封面 */
    width: 615px;
    height: 318px;
}
ul.hot li:nth-of-type(3) , ul.hot li:last-child{ /* 尺寸调整-最右列宽度-小 */
    width: 280px;
}
ul.hot li:nth-of-type(2) , ul.hot li:nth-of-type(3) { /* 尺寸调整-首行高度-大 */
    height: 318px;
}
ul.hot li:nth-of-type(4) , ul.hot li:nth-of-type(5) { /* 尺寸调整-首行高度-大 */
    width: 307.5px;
}

/* #### 展位布局 */
ul.hot li:nth-of-type(2) >a >span , ul.hot li:nth-of-type(3) >a >span { /* 商品名录-上层内边距-大 */
    padding-top: 10px;
}

/* ###  店长推荐*/
/* #### 展厅布局 */
ul.recommend { 
    /* height: 500px; */ /* 无需设置高度 */
}
ul.recommend >li { /* 展位默认尺寸 */
    width: 250px;
    height: 250px;
}
ul.recommend >li:first-child { /* 尺寸调整-封面1 */
    width: 200px;
    height: 500px;
}
ul.recommend >li:nth-child(2) { /* 尺寸调整-封面2 */
    width: 500px;
}
/* #### 展位布局 */
ul.recommend li {

}

/* ###  爆款推荐*/
/* #### 展厅布局 */
ul.storm {

}
ul.storm >li { /* 展位默认尺寸 */
    width: 250px;
    height: 250px;
}
ul.storm >li:nth-of-type(1) , ul.storm >li:nth-of-type(2) {
    width: 350px;
}
ul.storm >li:nth-of-type(5) , ul.storm >li:nth-of-type(6) , ul.storm >li:nth-of-type(7) {
    width: 233px;
}

/* # 尾部 */
.footer a {
    float: right;
    margin: 10px 0 ;
    color: #777777;
}
div.fresh .footer {
    margin-bottom: 50px;
}

/* --------------------------------网页底部样式-------------------------------- */