	/* --------------------------------预处理样式-------------------------------- */
* {
    margin: 0;
    padding: 0;
    /* border: 1px solid red; */ /* 显示边框，方便调试 */
    box-sizing: border-box;
}
body {
    width: 80%;
    max-width: 780px;
    min-width: 360px; /* Galaxy S5 屏幕宽度 */
    margin: 0 auto;
    border: 1px solid grey;
    text-align: center;
    background-color: #f7f5f5;
}
a {
    text-decoration: none;
    color: black;
    /* cursor: pointer; */ /* 手机端未生效，因为手机端本来就没鼠标指针啊！ */
}
ul li {
    list-style: none;
}
img {
    border: 0;
}
/* --------------------------------头部样式-------------------------------- */
header {
}

/* # 搜索及用户栏 */
.header-top {
    width: 90%;
    height: 50px;
    margin: 0 auto;
    display: flex;
    border-top: 1px solid rgb(157, 157, 157);
    border-bottom: 1px solid rgb(157, 157, 157) ;
    background-color: ghostwhite;
}
.search-bar {
    width: 86%;
    height: 35px;
    margin: 5px auto;
    margin-left: 20px;
    float: left;
    display: flex; /* 为什么要设置弹性模型？有点懵。。。 */
    overflow: hidden;
    border: 1px solid grey;
    border-radius: 5px;
    box-shadow: 1px 1px 3px rgb(64,64,64); /* 阴影 */

}
.search-bar::before {
    content: "";
    display: block;
    width: 20px;
    height: 20px;
    background-image: url(../images/sprite.png);
    background-size: 104px auto; /* 注意此处为雪碧图整张图比例缩小后的尺寸 */
    background-position: -57px -277px;
    margin: auto 0;
}
.search-bar input {
    flex: 1;
    margin-left: 20px;
    border: 0;
}
.user {
    width: 50px;
    height: 44px;
    margin: 1px auto;
}
#user-img {
    display: block;
    width: 29px;
    height: 29px;
    background-image: url(../images/sprite.png);
    background-size: 130px auto;
    background-position: -74px -243px;
}
#user-title {
    position: relative;
    bottom: 6px;
}
.user a {
    margin: 0 auto;
    font-size: 13px;
    font-weight: 550;
    color: cornflowerblue;
}

/* ## 广告栏样式 */
.ad { /* 还需改成轮播图*/
    width: 100%;
    margin: 10px auto;
}
.ad img {
    width: 100%;
}
/* --------------------------------主体样式-------------------------------- */
main {
}
section {
    background-color: white;
    border-radius: 10px;
    margin-bottom: 5px;
    font-size: 11px; /* 为了适应最小屏幕 */
    box-shadow: 0 0 2px;
}

/* ## 顶部导航栏 */
#section-1 ul{
    width: 100%;
    display: inline-flex;  /* 这个地方比较模糊，待验证 */
    /* flex-flow: row nowrap; */ /* 设置了 flex-flow 可省略 display:flex 设置 */
    line-height: 20px; /* 待考虑 */
}
.nav-item {
    flex: 1;
    flex-basis: 100px; /* 项目将占据固定空间,参与计算空余空间，影响空余空间的分配。 */
    display: inline-block;
    /* justify-content: center; */ /* 项目在主轴上的对齐方式 */
}
.nav-item a {
    color: black;
}
.nav-item-img {
    display: block;
    width: 32px;
    height: 32px;
    margin: 0 auto;
    border-radius: 50%;
}
/* ## 雪碧图定位处理 */
#nav-item-img-1 {  
    background-image: url(../images/localnav_bg.png);
    background-size: 32px;
    background-position: 0 0;
}
#nav-item-img-2 {
    background-image: url(../images/localnav_bg.png);
    background-size: 32px;
    background-position: 0 -32px;
}	
#nav-item-img-3 {
    background-image: url(../images/localnav_bg.png);
    background-size: 32px;
    background-position: 0 -64px;
}	
#nav-item-img-4 {
    background-image: url(../images/localnav_bg.png);
    background-size: 32px;
    background-position: 0 -96px;
}	
#nav-item-img-5 {
    background-image: url(../images/localnav_bg.png);
    background-size: 32px;
    background-position: 0 -128px;
}	
.nav-item-title {
    display: block;
    /* flex: 1; */
    bottom: 0;
}

/* # 出行服务 */
#section-2 {
    height: 240px;
    overflow: hidden; /* 需要展示出来圆角 */
    color: white;
    text-shadow: 0 0 2px rgba(0, 0, 0, 0.8);
    font-weight: bolder;
}
.aspect {
    height: 33.4%; 
    display: flex;
}
.aspect-logo,.aspect-details {
    width: 33%; 
    display: inline-flex;
    flex: 1;
}
.aspect-logo {
    height: 100%;
    flex-flow: column nowrap;
    background-image: url(../images/hotel.png);
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-position: 0 25px;
}
.aspect-logo a {
    font-size: 20px;
    color: white;
}
.aspect-details { 
    height: 100%;
    flex-flow: column nowrap;
    border-left: 1px solid white;
}
.aspect-details div {
    height: 50%;
    line-height: 37px;
}
.aspect-details div:nth-child(1) { 
    /* 注意 div 和 :nth-child(1) 之间不能有空格 */
    border-bottom: 1px solid white; /* 不完美 */
}
#aspect-1 { /* 渐变背景 */
    background-image: linear-gradient(to right, rgb(250,90,85) , rgb(250,153,77));
}
#aspect-2 {
    background-image: linear-gradient(to right, rgb(76,145,237) , rgb(83,188,237));
}
#aspect-3 {
    background-image: linear-gradient(to right, rgb(52,194,168) , rgb(108,213,90));
}

/* # 缴费服务 */
#section-3 {
    height: 120px;
    background-image: linear-gradient(to bottom,rgba(120,210,250,0.7),rgba(200,250,250,0.7));
}
#section-3 ul { /* 菜单列表行 */
    width: 100%;
    height: 50%;
    /* flex: 1; */ /* 还是无效，需要去查一下了 */
    /* flex-flow: row nowrap; */ /* 可能需要换行 */
}
#section-3 li { /* 菜单列表行元素 */
    height: 100%;
    display: inline-flex;
    flex-flow: column nowrap;

}
#section-3 ul:nth-child(1) li { /* 菜单列表第一行的元素 */
    width: 18%;
}
#section-3 ul:nth-child(2) li { /* 菜单列表第二行的元素 */
    width: 15%;
}
.section-3-list-item-logo {
    width: 35px;
    height: 28px;
    margin: 4px auto;
    display: block;
    background-image: url(../images/subnav-bg.png);
    background-size: 35px; /* 默认背景缩放尺寸 */
    background-repeat: no-repeat;
}
/* ## 雪碧图处理 */
#section-3-list-1 li:nth-child(1) >div{ /* 恶心的雪碧图-第一组 */
    background-position: 1px 1px; 
}
#section-3-list-1 li:nth-child(2) >div{
    background-size: 31px;
    background-position: 5px -33px;
}
#section-3-list-1 li:nth-child(3) >div{
    background-size: 30px;
    background-position: 5px -66px;
}
#section-3-list-1 li:nth-child(4) >div{
    background-size: 30px;
    background-position: 3px -104px;
}
#section-3-list-1 li:nth-child(5) >div{
    background-position: 2px -164px;
}
#section-3-list-2 li:nth-child(1) >div{ /* 雪碧图-第二组 */
    background-size: 31px;
    background-position: 7px -180px;
}
#section-3-list-2 li:nth-child(2) >div{
    background-size: 27px;
    background-position: 5px -188px;
}
#section-3-list-2 li:nth-child(3) >div{
    background-position: 2px -288px;
}
#section-3-list-2 li:nth-child(4) >div{
    background-position: 1px -324px;
}
#section-3-list-2 li:nth-child(5) >div{
    background-position: 5px -360px;
}
#section-3-list-2 li:nth-child(6) >div{
    background-size: 30px;
    background-position: 4px -343px;
}
.section-3-list-item-title {
}

/* # 热门活动 */
#section-4 {
    border-radius: 0; /* 不需要圆角样式 */
}
/* ## 头部样式 */
.promotion-head {
    height: 40px;
    border-top: 1px solid grey;
    border-bottom: 1px solid grey;
}
.promotion-head a {
}
.promotion-head-logo { /* 145*32 */
    display: block;
    width: 53px;
    height: 40%;
    margin: 12px 10px;
     /* float: left; */ /* 浮动会导致后面排版出现问题，弃用 */
    background-image: url(../images/hot.png);
    background-size: 53px;
    background-position: 0 -10px;
}
.promotion-head-more {
    float: right;
    margin-right: 5px;
    margin-top: -32px;
    padding: 4px 10px;
    border-radius: 999px; /* 取一个很大的像素值，元素两端就会变成半圆状的圆角 */
    background-image: linear-gradient(to right , rgb(255,80,110) , rgb(255,107,198));
    font-size: 12px;
    color: rgb(255, 242, 61);
}
/* ## 正文样式 */
.promotion-main {

}
/* ## 解决边框(为了便于理解，还未合并多余代码)
    结论：
        优点：
            1.手机端显示效果符合预期
            2.该添加内十字边框的方法可以无限嵌套
        不足：
            1.加内边框的工作有更简单的方案：如使用 table 标签应该可以轻松愉快地解决
            2.pc 端在小尺寸屏幕下可能会出现图片得边框没有正常i显示
*/
.promotion-main >div { 
    border-bottom: 1px solid #c3c3c7;
}
.promotion-main >div:last-of-type {
    border-bottom: 0;
}
.promotion-main-top >div >img {
    border-right: 1px solid #c3c3c7;
}
.promotion-main-top >div >img:last-of-type {
    border-right: 0;
}
.promotion-main-rest >div >div {
    border-right: 1px solid #c3c3c7;
}
.promotion-main-rest >div >div:last-of-type {
    border-right: 0;
}
.promotion-main-rest >div >div >img {
    border-bottom: 1px solid #c3c3c7;
}
.promotion-main-rest >div >div >img:last-of-type {
    border-bottom: 0;
}
/* ## 元素布局 */
.promotion-main-top {

}
.promotion-main-rest {

}
.promotion-struct-1 {
    height: 160px;
}
.promotion-struct-2 {
    width: 50%;
    height: 100%;
    float: left; /* 希望元素横向排布得块级元素，设置浮动即可 */
}
.promotion-main-rest .promotion-struct-3 {
    width: 100%;
    height: 50%;
}
/* --------------------------------底部样式-------------------------------- */
footer {
    background-color: black;
    color: gainsboro;
}


